/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

iframe {
  width: 100%;
}

.schedule {
  margin: 0;
  padding: 0;
}

.schedule__item {
  list-style: none;
  display: flex;
  flex-wrap: wrap
}

.schedule__time {
}

.schedule__title {
  font-size: 
}